@import "tailwindcss";

@theme {
  --font-sans: Aspekta, sans-serif;
  --color-purple: #773E90;
  --color-orange: #ED8062;
  --color-white: #FAF5F2;
  --color-true-white: #fff;
  --color-cream: #EAD6CB;
  --color-blue: #3b97d3;
  --color-yellow: #f0c419;
  --color-teal: #26b999;
  --color-black: #18141a;
  --color-primary: var(--color-purple);
  --color-secondary: var(--color-orange);
  --text-xs: clamp(0.7rem, 0.35vi + 0.61rem, 1.03rem);
  --text-sm: clamp(0.8rem, 0.45vi + 0.7rem, 1.2rem);
  --text-base: clamp(0.88rem, 0.53vi + 0.74rem, 1.38rem);
  --text-md: clamp(1.09rem, 0.79vi + 0.9rem, 1.83rem);
  --text-lg: clamp(1.37rem, 1.15vi + 1.08rem, 2.44rem);
  --text-xl: clamp(1.71rem, 1.65vi + 1.3rem, 3.26rem);
  --text-2xl: clamp(2.14rem, 2.35vi + 1.55rem, 4.34rem);
  --text-3xl: clamp(2.67rem, 3.32vi + 1.84rem, 5.79rem);
  --text-4xl: clamp(3.34rem, 4.67vi + 2.17rem, 7.71rem);
  --text-5xl: clamp(4.17rem, 6.52vi + 2.54rem, 10.28rem);
  --spacing-site: 1rem;
  --spacing-inner: 4.5rem;
  --spacing-navbar: 3.9325rem;
  --spacing-safe-viewport: calc(100svh - var(--spacing-navbar));
  --spacing-safest-viewport: calc(100svh - var(--spacing-navbar) - var(--spacing-site));
  --spacing-page: calc(100svh - var(--spacing-navbar) - var(--spacing-site) - 32rem);
  --spacing-viewport: 100svh;
  --leading-tighter: 1.1;
  --breakpoint-3xl: 120rem;
  --border-width: 2.5px;
  --color-lime-*: initial;
  --color-red-*: initial;
  --color-amber-*: initial;
  --color-green-*: initial;
  --color-emerald-*: initial;
  --color-cyan-*: initial;
  --color-sky-*: initial;
  --color-indigo-*: initial;
  --color-violet-*: initial;
  --color-fuchsia-*: initial;
  --color-pink-*: initial;
  --color-rose-*: initial;
  --color-slate-*: initial;
  --color-stone-*: initial;
}

@media (max-width: 46rem) {
  :root {
    --spacing-inner: var(--spacing-site);
  }
}

@import "./fonts.css";
@import "./base.css";
@import "./prose.css";
@import "./colors.css";
@import "./utils.css";
